<div>
    <h2>The list of available notifications</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>Id</td>
            <td>Sender</td>
            <td>Recipient</td>
            <td>Date of Arrival</td>
            <td>Status</td>
            <td>Crossing Point</td>
            <td>Production</td>
            <td>Extra Info</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notification in notificationsPage.content">
            <td>{{notification.id}}</td>
            <td>{{notification.sender}}</td>
            <td>{{notification.recipient}}</td>
            <td>{{notification.cargoArrivalDate}}</td>
            <td>{{notification.status}}</td>
            <td>{{notification.crossingPoint}}</td>
            <td>
                <span ng-repeat="package in notification.productPackages">
                    {{package.caption}}{{$last ? '' : ', '}}
                </span>
                <button type="button" class="btn btn-primary" ng-show="checkStatusForUpdate(notification.status)"
                        ng-click="navToEditProduction(notification.id)"> Edit
                </button>
            </td>

            <td>{{notification.extraInfo}}</td>
            <td>
                <button type="button" class="btn btn-primary"
                        ng-click="navToEditNotificationPage(notification.id)">Edit
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary"
                        ng-click="deleteNotification(notification.id)">Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

        <div class="input-group mb-3">
            <input type="text" class="form-control"
                   placeholder="The search is performed by status (exact match) and product name (line occurrence)"
                   ng-model="searchString">
            <button class="btn btn-outline-secondary" type="button" ng-click="notificationsWithFilters(searchString)">Search</button>
        </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" ng-click="prevPage()">
                    <span>Previous</span>
                </a>
            </li>

            <li class="page-item" ng-repeat="pageIndex in paginationArray">
                <button class="page-link" ng-click="loadNotifications(pageIndex)">{{pageIndex}}</button>
            </li>

            <li class="page-item">
                <a class="page-link" ng-click="nextPage()">
                    <span>Next</span>
                </a>
            </li>
        </ul>
    </nav>

</div>