<div>
    <h3>Create notification of cargo</h3>
    <form novalidate ng-submit="createNotification()">

        <div class="mb-3">
            <label class="form-label">Sender</label>
            <input type="text" class="form-control" placeholder="please enter..."
                   ng-model="new_notification.sender">
        </div>

        <div class="mb-3">
            <label class="form-label">Recipient</label>
            <input type="text" class="form-control" placeholder="please enter..."
                   ng-model="new_notification.recipient">
        </div>

        <div class="mb-3">
            <label class="form-label">Date of Arrival</label>
            <input type="text" class="form-control" placeholder="please enter..."
                   ng-model="new_notification.cargoArrivalDate">
        </div>

        <div>
            <label class="form-label">Status</label>
            <select class="form-select" aria-label="Default select example" ng-model="new_notification.status">
                <option value="Создано">Создано</option>
                <option value="Оформлено">Оформлено</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Production</label>
            <input type="text" class="form-control"
                   placeholder="Adding products is only available from the notification list form" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Crossing Point</label>
            <select class="form-select" aria-label="Default select example" ng-model="new_notification.crossingPoint">
                <option value="КПП Запад">КПП Запад</option>
                <option value="КПП Восток">КПП Восток</option>
                <option value="Главный въезд">Главный въезд</option>
                <option value="Северный блокпост">Северный блокпост</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Extra Info</label>
            <input type="text" class="form-control" placeholder="optional (not necessary)"
                   ng-model="new_notification.extraInfo">
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>